// Requirements
// ============
@import "mappy-breakpoints";
@import "susy";

$susy: ( 
	gutters: 0.1,
    container: 1080px,
	global-box-sizing: border-box,
    debug: ( image: debug )
);

$breakpoints: ( 
	'small': 320px,
	'med': 550px,
	'large': 780px,
	'wide': 1080px
);

.grid {
  // this is to show the debugging grid
  position: relative;
  
	@include container(4);
    
	@include mappy-bp(med) {
		@include container(6);
	}
	@include mappy-bp(large) {
		@include container(8);
	}
	@include mappy-bp(wide) {
		@include container(12);
        
        .dropdown{
            @include pre(4 of 12);
            @include span(4 of 12);
            @include post(4 of 12);
        }
        
        .input{
            @include pre(1 of 12);
            @include span(4 of 12);
            @include post(1 of 12);
        }
        
        .input:last-child{
            @include pre(1 of 12);
            @include span(4 of 12 last);
            @include post(1 of 12);
        }
        
        /*#myChart{
            @include pre(1 of 12);
            @include span(10 of 12);
            @include post(1 of 12);
        }*/
	}
}
