// Screen
// ======
@import "reset";
@import "grids";
@import "input";
@import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
$font-openSans: 'Open Sans', sans-serif;

$text-colour: #666;

html {
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    color: $text-colour;
    font-family: $font-openSans;
}

h1{
    color:$text-colour;
    font-size: 5.4rem;
    text-align: center;
    padding:40px 0;
}

a{
    text-decoration: none;
    color: $text-colour;
}

section{
    //display:none;
}

*:focus {
    outline: none;
}

.dropdown{
    position: relative;
    z-index: 20;
    
    button, ul{
        width: 100%;
    }
    
    button{
        background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 1.6rem;
        border: none;
        cursor: pointer;
    }
    
    &:hover ul{
        visibility: visible; /* shows sub-menu */
        opacity: 1;
        z-index: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s;
    }
    
    ul{
        display: block;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-2em);
        z-index: -1;
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        
        
        //transition: display 0.3s;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
        li{
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            
            &:hover{
                background-color: #f1f1f1;
            }
        }
    }
}